  .mobile-button {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    padding: 4px;
  }

  .nav-button {
    color: black;
    font-size: 14px;
  }

  .user-login-button {
    color: white;
  }

  .hamburger {
    position: absolute;
    z-index: 1000;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 20px;
  }

  .sign-in {
    margin-bottom: 2%;
    width: 65%;
    height: 20px;
  }

  .create-cats {
    margin-top: 2%;
    position: relative;
    display: inline-block;
    left: 100px;
  }

  .border {
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }

  .new-cat {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 60%;
  }

  input.new-cat {
    margin-bottom: 1%;
  }
