  .button {
    border-radius: 5px;
    padding: 4px;
    border-radius: 3px;
    font-weight: bolder;
  }

  .invisibleMarker {
    border-color: yellow;
    border-width: 10px;
  }

  .mobile-button {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    padding: 4px;
  }

  .hamburger {
    position: absolute;
    z-index: 1000;
    padding: 10px;
  }